private <%= effectName %>(): void {
  this.actions$
    .pipe(
      ofActionSuccessful(<%= actionName %>),
      takeUntil(this.destroy$),
    )
    .subscribe({
      next: (<% if (withPayload) { %>{ payload }:InstanceType<typeof <%= actionName %>><% } %>) => {
        /* To do something */
      },
    });
}
