import { Injectable } from '@angular/core';
import { Action, State, StateContext } from '@ngxs/store';
import { <%= classify(name) %>Actions } from './<%= dasherize(name) %>-actions';

export interface <%= classify(name) %>StateModel {}

const defaults: <%= classify(name) %>StateModel = {};

@State<<%= classify(name) %>StateModel>({
  name: '<%= camelize(name) %>',
  defaults,
})
@Injectable()
export class <%= classify(name) %>State {}
