import { inject, Injectable } from '@angular/core';
import { ApiService } from '@app/core/api/api.service';
import { Observable } from 'rxjs';

@Injectable()
export class <%= classify(name) %>ApiService {
  private readonly api: ApiService = inject(ApiService);
}
